{# _flask/templates/index.html #}

{% extends 'base.html' %}
{% block title %}CASDB Index{% endblock %} 
{% block h1%}

{% endblock %}

{% block body_01 %}
<center>
  <img src="../static/images/home3.jpeg" class="img-fluid" style="height:60%; width:60%;">
</center>

<p>
</br>The Chinese Agricultural Scientist Database (CASDB) is a relational database that aims 
  to document every Chinese agricultural scientists from the 
  first half of the twentieth century. We compile biographical, education, and employment information 
  from archival sources and personnel records that allows researchers to discover information about
  individual scientists or to conduct larger-scale statistical, spatial, or social network analyses. 
</p>

{% endblock %}
{% block body_02 %}{% endblock %}